<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Presentaciones</div>
    </div>
  </div>
</header>
<section id="presentaciones">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <% if @presentations != [] %>
          <% @presentations.each do |presentation| %>
            <div class="page-header">
              <h1>Presentación en <%= presentation.site %> <small><%= presentation.date %></small></h1>
            </div>
          <% end %>
        <% else %>
          <p>Lo sentimos, no hay presentaciones registradas.</p>
        <% end %>
      </div>
    </div>
  </div>
</section>
