<header>
	<div class="container">
		<div class="intro-text">
			<div class="intro-lead-in">Terminos de uso</div>
		</div>
	</div>
</header>

<section id="terminos">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="center-text">
					<p>
						Esta página es el sitio oficial de nuestro musical navideño,
						cualquier inquietud o sugerencia puede ser enviada en la sección
						de comentarios o por medio de un mensaje. Los datos que ingrese
						en los formularios serán para su posterior respuesta o contacto.
						Por favor, utilice el sitio con discresión.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
