/*
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require_self
 */

body {
  background: url(asset-path("bg-image-desktop.png")) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#mainNav {
    background: rgba(34, 34, 34, .7);
}
.embed-container {
  padding-bottom: 51%;
  position: relative;
  width: 90%;
  height: 0;
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
header {
  color: #e9e71a;
}
p {
  font-size: 1.8em;
}

.form-container {
  background-color: rgba(255, 255, 255, .75);
}

section {
  color: black;
  background-color: rgba(245, 245, 254, .89);

  .row img {
    margin-bottom: 20px;
    width: 52%;
    height: auto;
  }
}

.preview img {
	width: auto;
}

section.filled {
    color: black;
    background-color: #ece3fe;
}
section#contact {
    background-color: #c62469;
}
ul.social-buttons a:hover {
    color: black;
}
li.active a {
  color: black !important;
}
.carousel-control.left,
.carousel-control.right {
    background-color: #6262e6;
    background-image: none;
    .fa {
        font-size: 40px;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
}

.thumbnail {
  border: none;
  background-color: rgba(255, 255, 255, .65);
  text-align: center;
}

/* CRUD Widgets */
.control-panel {
  background: #F5F6F7;
  opacity: .4;
  position: absolute;
  transition: opacity .3s;
  top: 0;
  right: 0;
  &:hover {
    opacity: .85;
  }

  li {
    float: left;
    width: auto;
    padding: 0;

    &:hover {
      background: rgba(245, 246, 257, .9);
    }
    a {
      color: black;
      display: block;
      padding: 10px;
    }
  }
}

.carousel-inner > .item > img {
  margin: auto;
}
footer {
    background-color: #7c5c92;
}
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
    color: black;
    opacity: 1;
}
