<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Galería de imágenes</div>
    </div>
  </div>
</header>
<section id="galeria-imagenes">
  <div class="container">
    <div class="row">
      <% if @images != [] %>
        <% @images.each do |image| %>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
              <% if image.title != nil %>
                <div>
                  <p class="lead"><%= image.title %></p>
                </div>
              <% end %>
              <%= link_to image_tag(image.route), image_path(image) %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>Lo sentimos, no hay imágenes para mostrar.</p>
      <% end %>
    </div>
  </div>
</section>
