<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Galería de imágenes</div>
    </div>
  </div>
</header>
<section id="galeria-imagenes">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <% if @images != [] %>
        <ul>
          <% @images.each do |image| %>
            <li>
              <h3><%= image.title %></h3>
              <img src="<%= image.dir %>" alt="<%= image.title %>">
            </li>
          <% end %>
        </ul>
        <% else %>
          <p>Lo sentimos, no hay imágenes para mostrar.</p>
        <% end %>
      </div>
    </div>
  </div>
</section>
