<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <% if @image.title != "" %>
          <div class="page-header">
            <h1><%= @image.title %></h1>
          </div>
        <% end %>
        <div class="page-content">
          <%= image_tag(@image.route) %>
        </div>
      </div>
    </div>
    <%= link_to 'Regresar a la galería', gallery_path, class: "btn btn-lg btn-success" %>
  </div>
</section>